outputs

build-strstun
build-strstun-vscode
build

StrPROSE-synthesizer/_temp
StrPROSE-synthesizer/bin
StrPROSE-synthesizer/obj
StrSTUN-synthesizer/dependencies/gmp-6.2.1
StrSTUN-synthesizer/dependencies/libs

docs

FSE2021-AcceptedPaper.pdf
appendix.pdf

.git
.vscode